* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    transition: 0.5s;
}
/* Estructura estetica del fondo */
body {
    height: 100%;
    width: 100%;
    position: relative;
    background: url(Images/fondoWeb.jpg) no-repeat;
    background-size: cover
    
}
/* Estilo para Menu */
a.nav-link {
    text-decoration: none;
    color: white;
    -webkit-text-stroke: 0.5px black;
    font-weight: 600;
    padding-right: 10px;
    margin-right: 5px;
}

.nav-link:hover {
    color: rgb(211, 182, 21);
}


/* Header */

.menu-container {
    background-color: black;
    width: 100%;
}

.logo-img {
    height: 100px;
}


.navbar-toggler-icon {
    background-color: gold;
    border: 3px solid gray;
}

/* Index */

/* Banner */
.Img-Banner {
    width: 65%;
    margin-left: 16%;
    border: 5px solid black;
}

.first-title {
    color: white;
    -webkit-text-stroke: 1px black;
    display: flex;
    margin: 1%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}

#Titulo {
    color: white;
    -webkit-text-stroke: 1px black;
    margin: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#Articulo {
    color: white;
    margin: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#Video {
    margin: 1%;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.Brand-container {
    margin: 1%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    border: 2px solid white;
}


.Primer-articulo {
    width: 750px;
    height: 450px;
    background: black;
    border: 2px solid white;
}

.Segundo-articulo {
    width: 750px;
    height: 450px;
    background: black;
    border: 2px solid white;
}

.Tercer-articulo {
    width: 750px;
    height: 450px;
    background: black;
    border: 2px solid white;
}

/* Historia */

.Second-title {
    color: white;
    -webkit-text-stroke: 1px black;
    margin: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Primer-article2 {
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.Historia {
    color: white;
}

.Copa-laver {
    width: auto;
    height: auto;
    max-width: 450px;
    max-height: 500px;
    border: 2px solid white;
}

.Campeon-2021 {
    width: auto;
    height: auto;
    max-width: 650px;
    max-height: 700px;
    border: 2px solid white;
}

.Campeon-2020 {
    width: auto;
    height: auto;
    max-width: 650px;
    max-height: 700px;
    border: 2px solid white;
}

/* Jugadores */

.logo-europa {
    width: auto;
    height: auto;
    max-width: 65px;
    max-height: 65px;
    border: 2px solid white;
    margin: 1%;
}

.jugador-europa {
    color: white;
    -webkit-text-stroke: 1px black;
    margin: 1%;
    
}

.jugador-resto-del-mundo {
    color: white;
    -webkit-text-stroke: 1px black;
    margin: 1%;
    
}

.federer {
    width: auto;
    height: auto;
    max-width: 450px;
    max-height: 450px;
}

.federer {
    width: auto;
    height: auto;
    max-width: 450px;
    max-height: 450px;
}

.nadal {
    width: auto;
    height: auto;
    max-width: 450px;
    max-height: 450px;
}

.nole {
    width: auto;
    height: auto;
    max-width: 450px;
    max-height: 450px;
}

.murray {
    width: auto;
    height: auto;
    max-width: 450px;
    max-height: 450px;
}

.ruud {
    width: auto;
    height: auto;
    max-width: 450px;
    max-height: 450px;
}

.griego {
    width: auto;
    height: auto;
    max-width: 450px;
    max-height: 450px;
}

.berretini {
    width: auto;
    height: auto;
    max-width: 450px;
    max-height: 450px;
    margin-bottom: 30px;
}

.logo-resto-del-mundo {
    width: auto;
    height: auto;
    max-width: 65px;
    max-height: 65px;
    border: 2px solid white;
    margin: 1%;
}

.fritz {
    width: auto;
    height: auto;
    max-width: 450px;
    max-height: 450px;
}

.felix {
    width: auto;
    height: auto;
    max-width: 450px;
    max-height: 450px;
}

.diego {
    width: auto;
    height: auto;
    max-width: 450px;
    max-height: 450px;
}

.tiafoe {
    width: auto;
    height: auto;
    max-width: 450px;
    max-height: 450px;
}

.miñaur {
    width: auto;
    height: auto;
    max-width: 450px;
    max-height: 450px;
}

.sock {
    width: auto;
    height: auto;
    max-width: 450px;
    max-height: 450px;
}



/* Entrenadores */

.logoEuropa {
    width: auto;
    height: auto;
    max-width: 65px;
    max-height: 65px;
    border: 2px solid white;
    margin: 1%;
}

.logoWorld {
    width: auto;
    height: auto;
    max-width: 65px;
    max-height: 65px;
    border: 2px solid white;
    margin: 1%;
}

h3 {
    color: white;
    -webkit-text-stroke: 1px black;
    margin: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.borg {
    width: auto;
    height: auto;
    max-width: 450px;
    max-height: 600px;
}

.mcEnroe {
    width: auto;
    height: auto;
    max-width: 450px;
    max-height: 600px;
}

.Biografia-borg {
    width: 450px;
    height: 350px;
    background: black;
    color: white;
    border: 2px solid white;
    display: flex;
    text-align: center;
}

.Biografia-McEnroe {
    width: 450px;
    height: 350px;
    background: black;
    color: white;
    border: 2px solid white;
    display: flex;
    text-align: center;
}
/* Informacion */

.Five-title {
    color: white;
    -webkit-text-stroke: 1px black;
    margin: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Vancouver {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Informacion {
    background: black;
    color: white;
    margin: 1%;
    text-align: center;
}

.Second-article5 {
    background: black;
    color: rgb(0, 0, 209);
    margin: 1%;
    text-align: center;
}

.Vancouver-Maps {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Footer */
footer {
    height: 60px;
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
}

.Social-icons-container {
    margin-left: 1%;
}

.copyright {
    margin-right: 1%;
    color: white;
}