@import "../base/variables";

.jugadores-europa {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.jugadores-resto-del-mundo {
display: flex;
flex-direction: row;
justify-content: center;
}

.logo-europa {
width: auto;
height: auto;
max-width: 65px;
max-height: 65px;
border: 2px solid white;
margin: 1%;
}

.jugador-europa {
color: white;
-webkit-text-stroke: 1px black;
margin: 1%;
text-align: center;
text-decoration: underline white;
}

.jugador-resto-del-mundo {
color: white;
-webkit-text-stroke: 1px black;
margin: 1%;
text-align: center;
text-decoration: underline white;    
}

@media screen and (max-width: 800px){
.jugadores-europa {
    display: flex;
    flex-direction: column;
}
}

.federer {
width: auto;
height: auto;
max-width: 600px;
max-height: 450px;
}

@media screen and (max-width: 800px) {
.federer {
    width: 350px;
    height: 380px;
}
}

.nadal {
width: auto;
height: auto;
max-width: 450px;
max-height: 450px;
}

@media screen and (max-width: 800px) {
    .nadal {
        width: 350px;
        height: 380px;
    }
    }

.nole {
width: auto;
height: auto;
max-width: 450px;
max-height: 450px;
}

@media screen and (max-width: 800px){
.nole {
    width: 350px;
    height: 380px;
}
}

.murray {
width: auto;
height: auto;
max-width: 450px;
max-height: 450px;
}

@media screen and (max-width: 800px){
.murray {
    width: 350px;
    height: 380px;
}
}

.ruud {
width: auto;
height: auto;
max-width: 450px;
max-height: 450px;
}

@media screen and (max-width: 800px){
.ruud {
    width: 350px;
    height: 380px;
}
}

.griego {
width: auto;
height: auto;
max-width: 450px;
max-height: 450px;
}

@media screen and (max-width: 800px){
.griego {
    width: 350px;
    height: 380px;
}
}

.berretini {
width: auto;
height: auto;
max-width: 650px;
max-height: 450px;
}

@media screen and (max-width: 800px){
.berretini {
    width: 350px;
    height: 380px;
}
}

.logo-resto-del-mundo {
width: auto;
height: auto;
max-width: 65px;
max-height: 65px;
border: 2px solid white;
margin: 1%;
}

@media screen and (max-width: 800px){
.jugadores-resto-del-mundo {
    display: flex;
    flex-direction: column;
}
}

.fritz {
width: auto;
height: auto;
max-width: 450px;
max-height: 450px;
}

@media screen and (max-width: 800px){
    .fritz {
        width: 350px;
        height: 380px;
    }
    }

.felix {
width: auto;
height: auto;
max-width: 400px;
max-height: 450px;
}

@media screen and (max-width: 800px){
    .felix {
        width: 350px;
        height: 380px;
    }
    }

.diego {
width: auto;
height: auto;
max-width: 650px;
max-height: 450px;
}

@media screen and (max-width: 800px){
.diego {
    width: 350px;
    height: 380px;
}
}

.tiafoe {
width: auto;
height: auto;
max-width: 450px;
max-height: 450px;
}

@media screen and (max-width: 800px){
    .tiafoe {
        width: 350px;
        height: 380px;
    }
    }

.miñaur {
width: auto;
height: auto;
max-width: 450px;
max-height: 450px;
}

@media screen and (max-width: 800px){
    .miñaur {
        width: 350px;
        height: 380px;
    }
    }

.sock {
width: auto;
height: auto;
max-width: 450px;
max-height: 450px;
}

@media screen and (max-width: 800px){
.sock {
    width: 350px;
    height: 380px;
}
}